<a href="https://colab.research.google.com/github/vidakpop/-California-Housing-Prices-Data-Manipulation/blob/main/%20California%20Housing%20Prices%20Data%20Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DTSC670: Foundations of Machine Learning Models

## Assignment 2: California Housing Prices Data Manipulation

### Name:


## CodeGrade
Note that this assignment will be automatically graded through CodeGrade and you will have unlimited submission attempts.  When submitting to CodeGrade, your notebook should be named `assignment2.ipynb` and there should be no errors in the file or CodeGrade will not be able to grade it.  Before submitting, I suggest that you restart your kernel and attempt to run all cells again to ensure that there will be no errors when CodeGrade runs your script.  

## Details

The purpose of this assignment is to hone your data wrangling skills.  It has been estimated that up to 80% of a Data Scientist's role is data cleaning and manipulation tasks to get the data ready for modeling/machine learning.  Your task for this assignment is to perform the data preparation steps as instructed below.

In the "End-to-End Machine Learning" module, you will be working with the California Housing Prices dataset that is based on data from the 1990 California census.  This dataset is often used to practice building a model to predict housing prices.  I have downloaded the original data and made various changes to it.  Your job will be to clean and manipulate the data to get it back to the proper format.  

*Note that your final dataset will <b>not</b> match the dataset that we will use in the class module.  This is on purpose so that students cannot download the data from various online sources and pass it off as their "cleaned" data.*

### Files and Data Dictionary

The files that you will be working with, and that can be found on Brightspace, are:

- <u>long_lat.csv</u>: longitude and latitude coordinates for all instances
- <u>cal_housing_low.csv</u>: instances with median house values in the lower 25% percentile
- <u>cal_housing_medium.csv</u>: instances with median house values between the lower and upper percentiles
- <u>cal_housing_high.csv</u>: instances with median house values in the upper 75% percentile
- <u>ocean_proximity.csv</u>: longitude and latitude coordinates along with their corresponding category

The data dictionary for the columns in the files are:

- <u>id</u>: unique ID number for the respective district (also called block groups)
- <u>longitude</u>: longitude coordinates for the respective district
- <u>latitude</u>: latitude coordinates for the respective district
- <u>state</u>: US state for the respective district
- <u>medianHouseValue</u>: median house value in the respective district (this will be the target or response variable)
- <u>housingMedianAge</u>: median house age in the respective district
- <u>totalBedrooms</u>: total bedrooms for all houses in the respective district
- <u>totalRooms</u>: total number of rooms for all houses in the respective district
- <u>households</u>: total households for all houses in the respective district
- <u>population</u>: total population for all houses in the respective district
- <u>medianIncome</u>: median income for households in the respective district
- <u>ocean_proximity</u>: categorical variable for each respective longitude and latitude pair  

### Data Cleaning
In order to clean the data, you will need to perform the following steps, although not necessarily in this order:
- Make sure that your notebook is organized and that you include specific comments that explain your code.  Assignments will be manually checked at the end of the course and points may be deducted for insufficient comments. (see Assignment Rubric)
- Use only base Python, Pandas, or NumPy for this assignment.  
- Combine the files together, as appropriate, so that you have one final DataFrame
- The final DataFrame must be named `housing`
- Sort the final `housing` DataFrame by `id` in ascending order
- Drop any rows with a missing value for the `medianHouseValue` column
- Fill any rows with a missing value for the `housingMedianAge` column with the median value for that column
- Drop the `state` column since it doesn't offer any added value
- In order to match the data that will be worked on in class, you will make the following changes to the values:
  - Scale the `medianIncome` to express the values in $10,000 of dollars (example: `150000` will become `15`, `30000` will become `3`, `15000` will become `1.5`, etc)
  - In your textbook, it discusses that the median income values have been capped on both the lower and upper ends.  In order to recreate this data, change any values in the `medianIncome` column that are `0.4999` or lower to `0.4999` and change any values that are `15.0001` and higher to `15.0001`.  This step should be done after the previous step.  Take a look at [this stackoverflow answer](https://stackoverflow.com/questions/38876816/change-value-of-a-dataframe-column-based-on-a-filter) if you need help with this step.
  - Revert the `medianHouseValue` back to actual dollars (example: `150` will become `150000`, `300` will become `300000`, etc)
- Update the column names and column order as shown below to match the data from the module:
  - longitude
  - latitude
  - housing_median_age
  - total_rooms
  - total_bedrooms
  - population
  - households
  - median_income
  - median_house_value
  - ocean_proximity
- Change all columns to a float data type except for the `ocean_proximity` column.  The `ocean_proximity` column should remain a string/object data type (do not update this to a categorical data type since that will be done later when working with the module data).
- Reset the DataFrame index so that it goes from `0` to `n-1`, where `n` is the number of rows in your DataFrame

In [ ]:
# standard imports
import pandas as pd
import numpy as np

# Do not change this option; This allows the CodeGrade auto grading to function correctly
pd.set_option('display.max_columns', 20)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
cd /content/drive/MyDrive/Colab Notebooks/house_dataset

/content/drive/MyDrive/Colab Notebooks/house_dataset

In [ ]:
# Initializing an empty DataFrame to store the final dataset
housing = pd.DataFrame()

# Adding datasets file names here

file_list = ['long_lat.csv','cal_housing_low.csv','cal_housing_medium.csv','cal_housing_high.csv','ocean_proximity.csv']  # Add your file names here

# Loop through the list of dataset file names and read them into separate DataFrames
for file_name in file_list:
    df = pd.read_csv(file_name)

    # Concatenate the DataFrames
    housing = pd.concat([housing, df], ignore_index=True)

In [ ]:
# Now, the 'housing' DataFrame contains the combined data from all the dataset files
#loading the new housing dataframe
housing

,id,longitude,latitude,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,ocean_proximity
0,1.0,-122.23,37.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,-122.22,37.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,-122.24,37.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,-122.25,37.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,-122.25,37.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
55701,NaN,-121.09,39.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INLAND
55702,NaN,-121.21,39.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INLAND
55703,NaN,-121.22,39.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INLAND
55704,NaN,-121.32,39.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INLAND
55705,NaN,-121.24,39.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INLAND

In [ ]:
#Sorting'id' column in ascending order
housing.sort_values(by='id', inplace=True)
#visualizing the dataset with sorted 'id' column
housing

,id,longitude,latitude,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,ocean_proximity
0,1.0,-122.23,37.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37956,1.0,NaN,NaN,CA,452.603,45.0,131.0,884.0,130.0,323.0,83252.0,NaN
1,2.0,-122.22,37.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37957,2.0,NaN,NaN,CA,358.502,23.0,1108.0,7103.0,1141.0,2403.0,83014.0,NaN
2,3.0,-122.24,37.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
55701,NaN,-121.09,39.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INLAND
55702,NaN,-121.21,39.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INLAND
55703,NaN,-121.22,39.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INLAND
55704,NaN,-121.32,39.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INLAND
55705,NaN,-121.24,39.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INLAND

In [ ]:
# Dropiing rows with missing values in 'medianHouseValue' column
housing.dropna(subset=['medianHouseValue'], inplace=True)
#visualizing the dataset with dropped missing values in 'medianHouseValue' column
housing

,id,longitude,latitude,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,ocean_proximity
37956,1.0,NaN,NaN,CA,452.603,45.0,131.0,884.0,130.0,323.0,83252.0,NaN
37957,2.0,NaN,NaN,CA,358.502,23.0,1108.0,7103.0,1141.0,2403.0,83014.0,NaN
37958,3.0,NaN,NaN,CA,352.104,53.0,193.0,1468.0,180.0,500.0,72574.0,NaN
37959,4.0,NaN,NaN,CA,341.300,55.0,236.0,1278.0,222.0,558.0,56431.0,NaN
37960,5.0,NaN,NaN,CA,342.200,54.0,282.0,1628.0,262.0,568.0,38462.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
27627,21554.0,NaN,NaN,CA,78.101,28.0,374.0,1665.0,332.0,847.0,15603.0,NaN
27628,21555.0,NaN,NaN,CA,77.102,18.0,154.0,701.0,114.0,360.0,25568.0,NaN
27629,21556.0,NaN,NaN,CA,92.301,19.0,488.0,2257.0,437.0,1007.0,17000.0,NaN
27630,21557.0,NaN,NaN,CA,84.701,21.0,412.0,1864.0,349.0,744.0,18672.0,NaN
27631,21558.0,NaN,NaN,CA,89.401,18.0,616.0,2787.0,532.0,1387.0,23886.0,NaN

In [ ]:
# Filling missing values in 'housingMedianAge' column with median
median_age = housing['housingMedianAge'].median()
housing['housingMedianAge'].fillna(median_age, inplace=True)
#visualizing the dataset with filled missing values in 'housingMedianAge' column with median
housing

,id,longitude,latitude,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,ocean_proximity
37956,1.0,NaN,NaN,CA,452.603,45.0,131.0,884.0,130.0,323.0,83252.0,NaN
37957,2.0,NaN,NaN,CA,358.502,23.0,1108.0,7103.0,1141.0,2403.0,83014.0,NaN
37958,3.0,NaN,NaN,CA,352.104,53.0,193.0,1468.0,180.0,500.0,72574.0,NaN
37959,4.0,NaN,NaN,CA,341.300,55.0,236.0,1278.0,222.0,558.0,56431.0,NaN
37960,5.0,NaN,NaN,CA,342.200,54.0,282.0,1628.0,262.0,568.0,38462.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
27627,21554.0,NaN,NaN,CA,78.101,28.0,374.0,1665.0,332.0,847.0,15603.0,NaN
27628,21555.0,NaN,NaN,CA,77.102,18.0,154.0,701.0,114.0,360.0,25568.0,NaN
27629,21556.0,NaN,NaN,CA,92.301,19.0,488.0,2257.0,437.0,1007.0,17000.0,NaN
27630,21557.0,NaN,NaN,CA,84.701,21.0,412.0,1864.0,349.0,744.0,18672.0,NaN
27631,21558.0,NaN,NaN,CA,89.401,18.0,616.0,2787.0,532.0,1387.0,23886.0,NaN

In [ ]:
# Droping the 'state' column
housing.drop(columns=['state'], inplace=True)
#visualizing the dataset with dropped 'state' column
housing

,id,longitude,latitude,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,ocean_proximity
37956,1.0,NaN,NaN,452.603,45.0,131.0,884.0,130.0,323.0,83252.0,NaN
37957,2.0,NaN,NaN,358.502,23.0,1108.0,7103.0,1141.0,2403.0,83014.0,NaN
37958,3.0,NaN,NaN,352.104,53.0,193.0,1468.0,180.0,500.0,72574.0,NaN
37959,4.0,NaN,NaN,341.300,55.0,236.0,1278.0,222.0,558.0,56431.0,NaN
37960,5.0,NaN,NaN,342.200,54.0,282.0,1628.0,262.0,568.0,38462.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
27627,21554.0,NaN,NaN,78.101,28.0,374.0,1665.0,332.0,847.0,15603.0,NaN
27628,21555.0,NaN,NaN,77.102,18.0,154.0,701.0,114.0,360.0,25568.0,NaN
27629,21556.0,NaN,NaN,92.301,19.0,488.0,2257.0,437.0,1007.0,17000.0,NaN
27630,21557.0,NaN,NaN,84.701,21.0,412.0,1864.0,349.0,744.0,18672.0,NaN
27631,21558.0,NaN,NaN,89.401,18.0,616.0,2787.0,532.0,1387.0,23886.0,NaN

In [ ]:
# Scaling 'medianIncome' to express values in $10,000 of dollars
housing['medianIncome'] /= 10000
#visualizing the dataset with scaled 'medianIncome' column to express values in $10,000 of dollars
housing

,id,longitude,latitude,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,ocean_proximity
37956,1.0,NaN,NaN,452.603,45.0,131.0,884.0,130.0,323.0,8.3252,NaN
37957,2.0,NaN,NaN,358.502,23.0,1108.0,7103.0,1141.0,2403.0,8.3014,NaN
37958,3.0,NaN,NaN,352.104,53.0,193.0,1468.0,180.0,500.0,7.2574,NaN
37959,4.0,NaN,NaN,341.300,55.0,236.0,1278.0,222.0,558.0,5.6431,NaN
37960,5.0,NaN,NaN,342.200,54.0,282.0,1628.0,262.0,568.0,3.8462,NaN
...,...,...,...,...,...,...,...,...,...,...,...
27627,21554.0,NaN,NaN,78.101,28.0,374.0,1665.0,332.0,847.0,1.5603,NaN
27628,21555.0,NaN,NaN,77.102,18.0,154.0,701.0,114.0,360.0,2.5568,NaN
27629,21556.0,NaN,NaN,92.301,19.0,488.0,2257.0,437.0,1007.0,1.7000,NaN
27630,21557.0,NaN,NaN,84.701,21.0,412.0,1864.0,349.0,744.0,1.8672,NaN
27631,21558.0,NaN,NaN,89.401,18.0,616.0,2787.0,532.0,1387.0,2.3886,NaN

In [ ]:
# Caping values in 'medianIncome' column
housing['medianIncome'] = housing['medianIncome'].apply(lambda x: 0.4999 if x <= 0.4999 else (15.0001 if x >= 15.0001 else x))
#visualizing the dataset with capped values in 'medianIncome' column
housing

,id,longitude,latitude,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,ocean_proximity
37956,1.0,NaN,NaN,452.603,45.0,131.0,884.0,130.0,323.0,8.3252,NaN
37957,2.0,NaN,NaN,358.502,23.0,1108.0,7103.0,1141.0,2403.0,8.3014,NaN
37958,3.0,NaN,NaN,352.104,53.0,193.0,1468.0,180.0,500.0,7.2574,NaN
37959,4.0,NaN,NaN,341.300,55.0,236.0,1278.0,222.0,558.0,5.6431,NaN
37960,5.0,NaN,NaN,342.200,54.0,282.0,1628.0,262.0,568.0,3.8462,NaN
...,...,...,...,...,...,...,...,...,...,...,...
27627,21554.0,NaN,NaN,78.101,28.0,374.0,1665.0,332.0,847.0,1.5603,NaN
27628,21555.0,NaN,NaN,77.102,18.0,154.0,701.0,114.0,360.0,2.5568,NaN
27629,21556.0,NaN,NaN,92.301,19.0,488.0,2257.0,437.0,1007.0,1.7000,NaN
27630,21557.0,NaN,NaN,84.701,21.0,412.0,1864.0,349.0,744.0,1.8672,NaN
27631,21558.0,NaN,NaN,89.401,18.0,616.0,2787.0,532.0,1387.0,2.3886,NaN

In [ ]:
# 7. Revert 'medianHouseValue' back to actual dollars
housing['medianHouseValue'] *= 1000
#visualizing the dataset with reverted 'medianHouseValue' column back to  actual dollars
housing

,id,longitude,latitude,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,ocean_proximity
37956,1.0,NaN,NaN,452603.0,45.0,131.0,884.0,130.0,323.0,8.3252,NaN
37957,2.0,NaN,NaN,358502.0,23.0,1108.0,7103.0,1141.0,2403.0,8.3014,NaN
37958,3.0,NaN,NaN,352104.0,53.0,193.0,1468.0,180.0,500.0,7.2574,NaN
37959,4.0,NaN,NaN,341300.0,55.0,236.0,1278.0,222.0,558.0,5.6431,NaN
37960,5.0,NaN,NaN,342200.0,54.0,282.0,1628.0,262.0,568.0,3.8462,NaN
...,...,...,...,...,...,...,...,...,...,...,...
27627,21554.0,NaN,NaN,78101.0,28.0,374.0,1665.0,332.0,847.0,1.5603,NaN
27628,21555.0,NaN,NaN,77102.0,18.0,154.0,701.0,114.0,360.0,2.5568,NaN
27629,21556.0,NaN,NaN,92301.0,19.0,488.0,2257.0,437.0,1007.0,1.7000,NaN
27630,21557.0,NaN,NaN,84701.0,21.0,412.0,1864.0,349.0,744.0,1.8672,NaN
27631,21558.0,NaN,NaN,89401.0,18.0,616.0,2787.0,532.0,1387.0,2.3886,NaN

In [ ]:
# Renaming the columns from the original name to longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,,median_income,median_house_value,ocean_proximity,
housing.rename(columns={
    'longitude': 'longitude',
    'latitude': 'latitude',
    'housingMedianAge': 'housing_median_age',#renamed from 'housingMedianAge' to 'housing_median_age'
    'totalRooms': 'total_rooms',#renamed column from  'totalRooms' to 'total_rooms'
    'totalBedrooms': 'total_bedrooms',#renamed column from 'totalBedrooms' to 'total_bedrooms'
    'population': 'population',
    'households': 'households',
    'medianIncome': 'median_income',#renamed column from 'medianIncome' to 'median_income'
    'medianHouseValue': 'median_house_value',#renamed column from 'medianHouseValue' to 'median_house_value'
    'ocean_proximity': 'ocean_proximity'#renamed column from 'ocean_proximity' to 'ocean_proximity'
}, inplace=True)

#displaying the updated renamed columns
housing

,id,longitude,latitude,median_house_value,housing_median_age,total_bedrooms,total_rooms,households,population,median_income,ocean_proximity
37956,1.0,NaN,NaN,452603.0,45.0,131.0,884.0,130.0,323.0,8.3252,NaN
37957,2.0,NaN,NaN,358502.0,23.0,1108.0,7103.0,1141.0,2403.0,8.3014,NaN
37958,3.0,NaN,NaN,352104.0,53.0,193.0,1468.0,180.0,500.0,7.2574,NaN
37959,4.0,NaN,NaN,341300.0,55.0,236.0,1278.0,222.0,558.0,5.6431,NaN
37960,5.0,NaN,NaN,342200.0,54.0,282.0,1628.0,262.0,568.0,3.8462,NaN
...,...,...,...,...,...,...,...,...,...,...,...
27627,21554.0,NaN,NaN,78101.0,28.0,374.0,1665.0,332.0,847.0,1.5603,NaN
27628,21555.0,NaN,NaN,77102.0,18.0,154.0,701.0,114.0,360.0,2.5568,NaN
27629,21556.0,NaN,NaN,92301.0,19.0,488.0,2257.0,437.0,1007.0,1.7000,NaN
27630,21557.0,NaN,NaN,84701.0,21.0,412.0,1864.0,349.0,744.0,1.8672,NaN
27631,21558.0,NaN,NaN,89401.0,18.0,616.0,2787.0,532.0,1387.0,2.3886,NaN

In [ ]:
# Change column data types to float except 'ocean_proximity'
numeric_columns = ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value']
housing[numeric_columns] = housing[numeric_columns].astype(float)

# Check the data types of all columns in the DataFrame
column_data_types = housing.dtypes

# Print the data types to confirm they are all float except 'ocean_proximity'
print("Data types of columns:")
column_data_types

Data types of columns:

id                    float64
longitude             float64
latitude              float64
median_house_value    float64
housing_median_age    float64
total_bedrooms        float64
total_rooms           float64
households            float64
population            float64
median_income         float64
ocean_proximity        object
dtype: object

In [ ]:
# Reset the DataFrame index so that it goes from 0 to n-1, where n is the number of rows in your DataFrame
housing.reset_index(drop=True, inplace=True)

# Display the modified final DataFrame
housing

,id,longitude,latitude,median_house_value,housing_median_age,total_bedrooms,total_rooms,households,population,median_income,ocean_proximity
0,1.0,NaN,NaN,452603.0,45.0,131.0,884.0,130.0,323.0,8.3252,NaN
1,2.0,NaN,NaN,358502.0,23.0,1108.0,7103.0,1141.0,2403.0,8.3014,NaN
2,3.0,NaN,NaN,352104.0,53.0,193.0,1468.0,180.0,500.0,7.2574,NaN
3,4.0,NaN,NaN,341300.0,55.0,236.0,1278.0,222.0,558.0,5.6431,NaN
4,5.0,NaN,NaN,342200.0,54.0,282.0,1628.0,262.0,568.0,3.8462,NaN
...,...,...,...,...,...,...,...,...,...,...,...
20635,21554.0,NaN,NaN,78101.0,28.0,374.0,1665.0,332.0,847.0,1.5603,NaN
20636,21555.0,NaN,NaN,77102.0,18.0,154.0,701.0,114.0,360.0,2.5568,NaN
20637,21556.0,NaN,NaN,92301.0,19.0,488.0,2257.0,437.0,1007.0,1.7000,NaN
20638,21557.0,NaN,NaN,84701.0,21.0,412.0,1864.0,349.0,744.0,1.8672,NaN
20639,21558.0,NaN,NaN,89401.0,18.0,616.0,2787.0,532.0,1387.0,2.3886,NaN

In [ ]:
# Save the final dataset to a CSV file
housing.to_csv('housing.csv', index=False)